* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

body {
  width: 99vw;
  height: 99vh;
  background-color: #242424;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 56px 1fr;
}

nav {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #272727;
  font-size: 22px;
  width: 100%;
}

nav > button {
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
}

nav .empty-sidebar {
  flex-grow: 1;
}

nav > button:hover {
  background-color: #383838;
}

h1 {
  padding: 8px 0;
  font-size: 24px;
}

input {
  border-radius: 8px;
  border: 1px solid #444;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  color: #ccc;
  background-color: #272727;
  transition: border-color 0.25s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}
